<img src="../../assets/back.svg" class="background" alt="SVG Image" />

<section class="center-layout container vh-100">
  <h4 class="text-center mb-5 w-75">
    Small steps lead to big changes. <br />Take control of your finances, one
    calculation at a time!
  </h4>
  <div class="form-field w-100">
    <label [ngClass]="focused ? 'label-focused' : ''">Enter Total Amount</label>
    <input
      type="number"
      [(ngModel)]="amount"
      (focus)="focused = true"
      (blur)="onBlur($event)"
      class="w-100 form-control"
    />
  </div>
  <button
    [disabled]="!amount"
    (click)="goToSecondPage()"
    class="btn btn-primary w-100 py-3 w-100"
  >
    Submit Total Amount
  </button>
</section>
